<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DASA Display</title>
    <link href="https://unpkg.com/@triply/yasgui/build/yasgui.min.css" rel="stylesheet" type="text/css" />
    <style>
        .yasgui .autocompleteWrapper {
            display: none !important;
        }

        .iri {
            font-size: 80%;
            margin-right: 10px;
            margin-left: auto;
            text-align: right;
            white-space: nowrap;
        }

        .iri-short {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .iri-short .highlighted {
            font-weight: bold;
        }



        li .iri {
            color: gray;
        }

        li .iri .highlighted {
            color: rgb(74, 74, 74);
            font-weight: bold;
        }

        li.CodeMirror-hint-active .iri {
            color: white;
        }

        li.CodeMirror-hint-active .iri .highlighted {
            color: rgb(196, 196, 196);
        }

    </style>
</head>

<body>
    <div id="endpoint_choice">
        <label for="endpoint_select">Select SPARQL Endpoint:</label>
        <select id="endpoint_select">
            <option value="Loading..." disabled selected id="endpoint_loading">Loading...</option>
        </select>
    </div>
    <div id="suggestion_choice">
        <label for="suggestion_select">Select Suggestion Engine:</label>
        <select id="suggestion_select">
            <option value="dasa" selected>DSS Assisted SPARQL Autocompletion</option>
            <option value="builtin">YASQE built-in</option>
        </select>
    </div>
    <div id="yasgui"></div>
    <script>
        const dssUrl = '<%= dssUrl %>';

    </script>
    <script src="/scripts/yasguiSetup.js" type="module"></script>


</body>

</html>
