<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DASA Display</title>
    <link href="https://unpkg.com/@triply/yasgui/build/yasgui.min.css" rel="stylesheet" type="text/css" />
    <style>
        .yasgui .autocompleteWrapper {
            display: none !important;
        }

        li .iri {
            color: gray;
        }

        li.CodeMirror-hint-active .iri {
            color: white;
        }

    </style>
</head>

<body>
    <div id="endpoint_choice">
        <label for="endpoint_select">Select SPARQL Endpoint:</label>
        <select id="endpoint_select">
            <option value="Loading..." disabled selected id="endpoint_loading">Loading...</option>
        </select>
    </div>
    <div id="yasgui"></div>
    <script>
        const dssUrl = '<%= dssUrl %>';

    </script>
    <script src="/scripts/yasguiSetup.js" type="module"></script>


</body>

</html>
